html, body {
	margin: 2;
	padding: 0;
	height: 100%;
	text-align: center;
	background: #141419;
	scroll-behavior: smooth;
}

section {
	min-height: 100%;
}

a {
	text-decoration: none;
}

/* HEADER */

h1, h2, h3, a {
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
	text-transform: uppercase;
}

h2 {
	color: #008cff;
}

h3 {
	font-size: 60px;
	padding-top: 8%;
	margin-bottom: 5px;
}

h4, p {
	font-family: 'Poppins', sans-serif;
	color: #ffffff;
}

hr {
	width: 30px;
	height: 3px;
	background: #ffffff;
	border: 0;
	margin: 0 auto 40px auto;
}

.submit-login, input { transition: all 300ms }

header {
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	background: #141419;
	box-shadow: 0 1px 2px rgb(43, 43, 43);
	z-index: 1;
}

#loginDiv {
    position: relative;
    top: 40%;
    left: 40%;
    transform: translateY(-50%);
    background-color: rgba(69, 69, 69, 0.5);
    border-radius: 10px;
    width: 400px;
    height: 400px;
}

.submit-login {
    width: 100px;
	height: 30px;
	border-radius: 10px;
	background-color: #000000;
	border-color: #008cff;
	color: #008cff;
}

.submit-login:hover {
    background-color: #008cff;
	color: white;
    transform: scale(1.1);
}

input {
    width: 200px;
	height: 30px;
	border-radius: 5px;
	background-color: #000000;
	border-color: #008cff;
	color: #008cff;
}

input:focus {
    background-color: #008cff;
	color: white;
    transform: scale(1.05);
}

#loginDiv h1, #loginDiv hr{
    color: #ffffff;
} 

#loginContent {
    position: relative;
    top: 10%;
}

/* Particles */

#webcoderskull{
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
}

canvas{
    height:100vh;
    background-color:#000000;
}